datagr4m-io/datagr4m-io-xml/tools/trang-20081028/ocs_agents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="COMPUTERS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="COMPUTER"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COMPUTER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ACCOUNTINFO"/>
        <xs:element ref="BIOS"/>
        <xs:element maxOccurs="unbounded" ref="CONTROLLERS"/>
        <xs:element ref="DICO_SOFT"/>
        <xs:element maxOccurs="unbounded" ref="DRIVES"/>
        <xs:element ref="HARDWARE"/>
        <xs:sequence minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="INPUTS"/>
          <xs:element maxOccurs="unbounded" ref="MEMORIES"/>
          <xs:element ref="MONITORS"/>
        </xs:sequence>
        <xs:element ref="NETWORKS"/>
        <xs:sequence minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="PORTS"/>
          <xs:element maxOccurs="unbounded" ref="SLOTS"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SOFTWARES"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SOUNDS"/>
        <xs:element maxOccurs="unbounded" ref="STORAGES"/>
        <xs:element ref="VIDEOS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACCOUNTINFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ENTRY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENTRY">
    <xs:complexType mixed="true">
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BIOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ASSETTAG"/>
        <xs:element ref="BDATE"/>
        <xs:element ref="BMANUFACTURER"/>
        <xs:element ref="BVERSION"/>
        <xs:element ref="SMANUFACTURER"/>
        <xs:element ref="SMODEL"/>
        <xs:element ref="SSN"/>
        <xs:element ref="TYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ASSETTAG" type="xs:string"/>
  <xs:element name="BDATE" type="xs:string"/>
  <xs:element name="BMANUFACTURER" type="xs:string"/>
  <xs:element name="BVERSION" type="xs:NMTOKEN"/>
  <xs:element name="SMANUFACTURER" type="xs:string"/>
  <xs:element name="SMODEL" type="xs:NMTOKEN"/>
  <xs:element name="SSN" type="xs:NMTOKEN"/>
  <xs:element name="CONTROLLERS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CAPTION"/>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="MANUFACTURER"/>
        <xs:element ref="NAME"/>
        <xs:element ref="TYPE"/>
        <xs:element ref="VERSION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DICO_SOFT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="WORD"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WORD" type="xs:string"/>
  <xs:element name="DRIVES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CREATEDATE"/>
        <xs:element ref="FILESYSTEM"/>
        <xs:element ref="FREE"/>
        <xs:element ref="LETTER"/>
        <xs:element ref="NUMFILES"/>
        <xs:element ref="TOTAL"/>
        <xs:element ref="TYPE"/>
        <xs:element ref="VOLUMN"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEDATE" type="xs:NMTOKEN"/>
  <xs:element name="FILESYSTEM" type="xs:string"/>
  <xs:element name="FREE" type="xs:integer"/>
  <xs:element name="LETTER" type="xs:string"/>
  <xs:element name="NUMFILES" type="xs:integer"/>
  <xs:element name="TOTAL" type="xs:integer"/>
  <xs:element name="VOLUMN" type="xs:string"/>
  <xs:element name="HARDWARE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CHECKSUM"/>
        <xs:element ref="DEFAULTGATEWAY"/>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="DNS"/>
        <xs:element ref="FIDELITY"/>
        <xs:element ref="ID"/>
        <xs:element ref="IPADDR"/>
        <xs:element ref="IPSRC"/>
        <xs:element ref="LASTCOME"/>
        <xs:element ref="LASTDATE"/>
        <xs:element ref="MEMORY"/>
        <xs:element ref="NAME"/>
        <xs:element ref="OSCOMMENTS"/>
        <xs:element ref="OSNAME"/>
        <xs:element ref="OSVERSION"/>
        <xs:element ref="PROCESSORN"/>
        <xs:element ref="PROCESSORS"/>
        <xs:element ref="PROCESSORT"/>
        <xs:element ref="QUALITY"/>
        <xs:element ref="SSTATE"/>
        <xs:element ref="SWAP"/>
        <xs:element ref="TYPE"/>
        <xs:element ref="USERAGENT"/>
        <xs:element ref="USERDOMAIN"/>
        <xs:element ref="USERID"/>
        <xs:element ref="WINCOMPANY"/>
        <xs:element ref="WINOWNER"/>
        <xs:element ref="WINPRODID"/>
        <xs:element ref="WINPRODKEY"/>
        <xs:element ref="WORKGROUP"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHECKSUM" type="xs:integer"/>
  <xs:element name="DEFAULTGATEWAY" type="xs:string"/>
  <xs:element name="DNS" type="xs:string"/>
  <xs:element name="FIDELITY" type="xs:integer"/>
  <xs:element name="ID" type="xs:integer"/>
  <xs:element name="IPADDR" type="xs:NMTOKEN"/>
  <xs:element name="IPSRC" type="xs:NMTOKEN"/>
  <xs:element name="LASTCOME" type="xs:string"/>
  <xs:element name="LASTDATE" type="xs:string"/>
  <xs:element name="OSCOMMENTS" type="xs:string"/>
  <xs:element name="OSNAME" type="xs:string"/>
  <xs:element name="OSVERSION" type="xs:NMTOKEN"/>
  <xs:element name="PROCESSORN" type="xs:integer"/>
  <xs:element name="PROCESSORS" type="xs:integer"/>
  <xs:element name="PROCESSORT" type="xs:string"/>
  <xs:element name="QUALITY" type="xs:string"/>
  <xs:element name="SSTATE" type="xs:integer"/>
  <xs:element name="SWAP" type="xs:integer"/>
  <xs:element name="USERAGENT" type="xs:NCName"/>
  <xs:element name="USERDOMAIN" type="xs:string"/>
  <xs:element name="USERID" type="xs:NCName"/>
  <xs:element name="WINCOMPANY" type="xs:string"/>
  <xs:element name="WINOWNER" type="xs:string"/>
  <xs:element name="WINPRODID" type="xs:string"/>
  <xs:element name="WINPRODKEY" type="xs:string"/>
  <xs:element name="WORKGROUP" type="xs:NCName"/>
  <xs:element name="INPUTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CAPTION"/>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="INTERFACE"/>
        <xs:element ref="MANUFACTURER"/>
        <xs:element ref="POINTTYPE"/>
        <xs:element ref="TYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INTERFACE" type="xs:string"/>
  <xs:element name="POINTTYPE">
    <xs:complexType/>
  </xs:element>
  <xs:element name="MEMORIES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CAPACITY"/>
        <xs:element ref="CAPTION"/>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="NUMSLOTS"/>
        <xs:element ref="PURPOSE"/>
        <xs:element ref="SERIALNUMBER"/>
        <xs:element ref="SPEED"/>
        <xs:element ref="TYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAPACITY" type="xs:integer"/>
  <xs:element name="NUMSLOTS" type="xs:integer"/>
  <xs:element name="MONITORS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CAPTION"/>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="MANUFACTURER"/>
        <xs:element ref="SERIAL"/>
        <xs:element ref="TYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SERIAL">
    <xs:complexType/>
  </xs:element>
  <xs:element name="NETWORKS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="IPADDRESS"/>
        <xs:element ref="IPDHCP"/>
        <xs:element ref="IPGATEWAY"/>
        <xs:element ref="IPMASK"/>
        <xs:element ref="IPSUBNET"/>
        <xs:element ref="MACADDR"/>
        <xs:element ref="SPEED"/>
        <xs:element ref="STATUS"/>
        <xs:element ref="TYPE"/>
        <xs:element ref="TYPEMIB"/>
        <xs:element ref="VIRTUALDEV"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IPADDRESS" type="xs:NMTOKEN"/>
  <xs:element name="IPDHCP" type="xs:string"/>
  <xs:element name="IPGATEWAY" type="xs:NMTOKEN"/>
  <xs:element name="IPMASK" type="xs:NMTOKEN"/>
  <xs:element name="IPSUBNET" type="xs:NMTOKEN"/>
  <xs:element name="MACADDR" type="xs:NMTOKEN"/>
  <xs:element name="TYPEMIB" type="xs:string"/>
  <xs:element name="VIRTUALDEV" type="xs:integer"/>
  <xs:element name="PORTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CAPTION"/>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="NAME"/>
        <xs:element ref="TYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SLOTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="DESIGNATION"/>
        <xs:element ref="NAME"/>
        <xs:element ref="PSHARE"/>
        <xs:element ref="PURPOSE"/>
        <xs:element ref="STATUS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DESIGNATION" type="xs:string"/>
  <xs:element name="PSHARE" type="xs:integer"/>
  <xs:element name="SOFTWARES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BITSWIDTH"/>
        <xs:element ref="COMMENTS"/>
        <xs:element ref="FILENAME"/>
        <xs:element ref="FILESIZE"/>
        <xs:element ref="FOLDER"/>
        <xs:element ref="GUID"/>
        <xs:element ref="INSTALLDATE"/>
        <xs:element ref="LANGUAGE"/>
        <xs:element ref="NAME"/>
        <xs:element ref="PUBLISHER"/>
        <xs:element ref="SOURCE"/>
        <xs:element ref="VERSION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BITSWIDTH" type="xs:integer"/>
  <xs:element name="COMMENTS" type="xs:string"/>
  <xs:element name="FILENAME">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FILESIZE" type="xs:integer"/>
  <xs:element name="FOLDER" type="xs:string"/>
  <xs:element name="GUID" type="xs:string"/>
  <xs:element name="INSTALLDATE" type="xs:string"/>
  <xs:element name="LANGUAGE" type="xs:string"/>
  <xs:element name="PUBLISHER" type="xs:string"/>
  <xs:element name="SOURCE" type="xs:integer"/>
  <xs:element name="SOUNDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="MANUFACTURER"/>
        <xs:element ref="NAME"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STORAGES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DESCRIPTION"/>
        <xs:element ref="DISKSIZE"/>
        <xs:element ref="FIRMWARE"/>
        <xs:element ref="MANUFACTURER"/>
        <xs:element ref="MODEL"/>
        <xs:element ref="NAME"/>
        <xs:element ref="SERIALNUMBER"/>
        <xs:element ref="TYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DISKSIZE" type="xs:integer"/>
  <xs:element name="FIRMWARE" type="xs:string"/>
  <xs:element name="MODEL" type="xs:string"/>
  <xs:element name="VIDEOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CHIPSET"/>
        <xs:element ref="MEMORY"/>
        <xs:element ref="NAME"/>
        <xs:element ref="RESOLUTION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHIPSET" type="xs:string"/>
  <xs:element name="RESOLUTION" type="xs:string"/>
  <xs:element name="TYPE" type="xs:string"/>
  <xs:element name="CAPTION" type="xs:string"/>
  <xs:element name="DESCRIPTION" type="xs:string"/>
  <xs:element name="MANUFACTURER" type="xs:string"/>
  <xs:element name="NAME" type="xs:string"/>
  <xs:element name="VERSION" type="xs:string"/>
  <xs:element name="MEMORY" type="xs:string"/>
  <xs:element name="PURPOSE" type="xs:string"/>
  <xs:element name="SERIALNUMBER" type="xs:string"/>
  <xs:element name="SPEED" type="xs:string"/>
  <xs:element name="STATUS" type="xs:string"/>
</xs:schema>
